
<div class="main">
  <div class="topnav">
  
  <div class="add-employee">
  
  <button type="button"  class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add employee</button>
  </div>
  
  
  <div class="search">
  <input type="search" class="form-control"  placeholder="search" >
  </div>
  
  <mat-toolbar>

    <span>BlockB</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openAddEditEmpForm()" >add Niggas  
    </button>
   
  </mat-toolbar>   